:root {
  --background-color: #cffafe;
  --button-primary-color: #7dd3fc;
  --button-secondary-color: #0ea5e9;
  --cell-hover: #0369a1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./Orbitron-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron-Bold';
  src: url('./Orbitron-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: var(--background-color);
}

.header {
  height: 10svh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron-Bold';
  font-size: 3rem;
  padding: 1rem;
}

.main {
  height: 90svh;
  width: 100svw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-family: 'Orbitron';
}

.game-mode-container {
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.game-mode {
  width: 200px;
  height: 100px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  background-color: var(--button-primary-color);
  cursor: pointer;
}

.game-mode:hover {
  background-color: var(--button-secondary-color);
}

.game-container {
  width: 100svw;
  height: 90svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-logic {
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.game-log {
  width: 100svw;
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
}

.player-one-container,
.player-two-container {
  display: flex;
  gap: 4rem;
}

.display-name {
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
}

.board {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
  background-color: white;
}

.cell {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

.cell.water {
  background-color: blue;
}

.cell.drag-over {
  border: 2px dashed var(--background-color);
  background-color: var(--cell-hover);
}

.ship-container {
  width: 300px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;  
  gap: 1rem;
}

.placement-message {
  padding: 1rem;
  font-family: 'Orbitron';
  font-size: 1.3rem;
  align-self: start;
}

.ship {
  background-color: grey;
  display: grid;
  grid-auto-flow: column;
  cursor: move;
  border-radius: 5rem;
}

.ship.dragged {
  background-color: rgb(177, 235, 177);
}

.ship-part {
  height: 40px;
  width: 40px;
}

#carrier {
  background-color: #a3e635;
}

#battleship {
  background-color: #fbbf24;
}

#destroyer {
  background-color: #34d399;
}

#submarine {
  background-color: #fb923c;
}

#patrol {
  background-color: #dc2626;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: blue;
}

.controller-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 1rem 2rem;
  background-color: #fcd34d;
  border: 1px solid #b45309;
  font-family: 'Orbitron';
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #f59e0b;
}

.controller-container .btn {
  width: 200px;
}

.winner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.display-winner {
  padding: 2rem;
  background-color: var(--button-primary-color);
  border-radius: 1rem;
  border: 1px solid #075985;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.winner-message {
  font-size: 1.3rem;
}

.change-player-message {
  font-size: 1.3rem;
}

.change-player-animation {
  position:relative;
}

.loader {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin: 20% auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
}

.inactive {
  display: none;
}