* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  height: 10svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90svh;
  width: 100svw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-mode-container,
.game-container {
  width: 100svw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-mode {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.game-mode:hover {
  background-color: grey;
}

.player-one-container,
.player-two-container {
  display: flex;
  gap: 2rem;
}

.board {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.cell.water {
  background-color: blue;
}

.cell.drag-over {
  border: 2px dashed blue;
}

.ship-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.ship {
  background-color: grey;
  display: grid;
  grid-auto-flow: column;
  border-radius: 2rem;
}

.ship.dragged {
  background-color: rgb(177, 235, 177);
}

.ship-part {
  height: 50px;
  width: 50px;
}

.inactive {
  display: none;
}