@font-face {
  font-family: 'Orbitron';
  src: url('./Orbitron-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron-Bold';
  src: url('./Orbitron-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background-color: #cffafe;
  --button-primary-color: #7dd3fc;
  --button-secondary-color: #0ea5e9;
  --cell-hover: #0369a1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

.header {
  height: 10svh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron-Bold';
  font-size: 3rem;
}

.main {
  height: 90svh;
  width: 100svw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-family: 'Orbitron';
}

.game-mode-container {
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.game-mode {
  width: 200px;
  height: 100px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  background-color: var(--button-primary-color);
  cursor: pointer;
}

.game-mode:hover {
  background-color: var(--button-secondary-color);
}

.game-container {
  width: 100svw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-one-container,
.player-two-container {
  display: flex;
  gap: 4rem;
}

.board {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
  background-color: white;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.cell.water {
  background-color: blue;
}

.cell.drag-over {
  border: 2px dashed var(--background-color);
  background-color: var(--cell-hover);
}

.ship-container {
  width: 300px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;  
  gap: 1rem;
}

.placement-message {
  font-family: 'Orbitron';
  font-size: 1.4rem;
}

.ship {
  background-color: grey;
  display: grid;
  grid-auto-flow: column;
  cursor: move;
  border-radius: 5rem;
}

.ship.dragged {
  background-color: rgb(177, 235, 177);
}

.ship-part {
  height: 50px;
  width: 50px;
}

#carrier {
  background-color: #a3e635;
}

#battleship {
  background-color: #fbbf24;
}

#destroyer {
  background-color: #34d399;
}

#submarine {
  background-color: #fb923c;
}

#patrol {
  background-color: #dc2626;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: blue;
}

.winner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.display-winner {
  padding: 2rem;
  background-color: antiquewhite;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.inactive {
  display: none;
}